package ${paramsPackage};

import com.jeramtough.jtweb.model.params.BaseConditionParams;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import java.io.Serializable;

/**
 * <p>
 * 条件查询参数
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

@Data
@Schema
public class ${entity}ConditionParams extends BaseConditionParams implements Serializable{

}