package ${package.Controller};

#if(${restControllerStyle})
import org.springframework.web.bind.annotation.RestController;
#else
import org.springframework.stereotype.Controller;
#end
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
import ${voPackage}.${table.entityName}Vo;
import ${paramsPackage}.AddOrUpdate${table.entityName}Params;
import ${paramsPackage}.${table.entityName}ConditionParams;
import ${package.Service}.${table.serviceName};
import com.jeramtough.jtweb.component.apiresponse.bean.CommonApiResponse;
import com.jeramtough.jtweb.model.vo.PageVo;
import com.jeramtough.jtweb.model.params.DeleteByIdsParams;
import com.jeramtough.jtweb.model.params.QueryByPageParams;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import org.springdoc.core.annotations.ParameterObject;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;

import java.util.List;

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Tag(name = "#if(${package.ModuleName})${package.ModuleName}#end#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end-API")
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} extends MyBaseController{
#end
    private final ${table.serviceName}  thisService;

    @Autowired
    public ${table.controllerName}(${table.serviceName} thisService) {
        this.thisService = thisService;
    }

    @Operation(summary = "新增", description = "新增")
    @RequestMapping(value = "/add", method = {RequestMethod.POST})
    public CommonApiResponse<${table.entityName}Vo> add(
        @RequestBody AddOrUpdate${table.entityName}Params params) {
        return getOkApiResponse(thisService.addDataByParams(params));
    }

    @Operation(summary = "更新", description = "更新")
    @RequestMapping(value = "/update", method = {RequestMethod.POST})
    public CommonApiResponse<String> update(
        @RequestBody AddOrUpdate${table.entityName}Params params) {
        return getOkApiResponse(thisService.updateDataByParams(params));
    }

    @Operation(summary = "删除", description = "删除")
        @RequestMapping(value = "/delete", method = {RequestMethod.POST})
    public CommonApiResponse<Boolean> delete(@RequestBody DeleteByIdsParams params) {
        return getOkApiResponse(thisService.removeByIds(params.getIds()));
    }

    @Operation(summary = "分页查询", description = "分页查询")
    @RequestMapping(value = "/page", method = {RequestMethod.GET})
    public CommonApiResponse<PageVo<${table.entityName}Vo>> page(
        @ParameterObject QueryByPageParams queryByPageParams,
        @ParameterObject ${table.entityName}ConditionParams conditionParams) {
        return getOkApiResponse(
        thisService.pageByCondition(queryByPageParams, conditionParams));
    }

    @Operation(summary = "列表查询", description = "列表查询")
    @RequestMapping(value = "/list", method = {RequestMethod.GET})
    public CommonApiResponse<List<${table.entityName}Vo>> list(@ParameterObject ${table.entityName}ConditionParams conditionParams) {
        return getOkApiResponse(
        thisService.listByCondition(conditionParams));
    }


}

#end