const BASE = "#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end";

const createApiInstance = (axiosRequest) => {
    return {
        page(params) {
            return axiosRequest.get(BASE + "/page", {params: params});
        },
        list(params) {
            return axiosRequest.get(BASE + "/list", {params: params});
        },
        delete(data) {
            return axiosRequest.post(BASE + "/delete", data);
        },
        update(data) {
            return axiosRequest.post(BASE + "/update", data);
        },
        add(data) {
            return axiosRequest.post(BASE + "/add", data);
        },
    };
};

export default createApiInstance;