package ${baseServiceImplPackage};

import org.springframework.web.context.WebApplicationContext;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${baseServicePackage}.MyBaseService;
import com.jeramtough.jtlog.with.WithLogger;
import com.jeramtough.jtweb.service.impl.JtBaseServiceImpl;


/**
 * <p>
 *  ServiceImpl基类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

public abstract class MyBaseServiceImpl<M extends BaseMapper<T>, T, D>
        extends JtBaseServiceImpl<M, T, D> implements MyBaseService<T, D>, WithLogger {

    protected MyBaseServiceImpl(WebApplicationContext wc) {
        super(wc);
    }

}